#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#vazelina-app {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  min-height: 350px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

aside {
  max-width: 200px;
  flex-grow: 1;
  border-right: 2px solid gray;
  overflow: scroll;

  table {
    background-color: lightgray;

    .song-row{
      td {
        padding: 2px 5px;
        background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
      }
      &.highlighted {
        td {
          background: linear-gradient(to bottom, #ffffff 0%, lightyellow 100%);
          border: 1px solid gray;
          border-radius: 5px;
        }
      }
      &.enabled {
        cursor: pointer;
        &:hover {
          color: blue;
          text-decoration: underline;
        }

      }
      &.disabled {
        td {
          color: gray;
        }
      }
    }
  }

}

.leaflet-popup-content {
  ul {
    padding-inline-start: 0;

    li {
      cursor: pointer;
    }
    li:hover {
      color: blue;
      text-decoration: underline;
    }
  }
}

.map-marker {
  &.highlighted {
    background-color: lightyellow;
    border: 1px solid gray;
    padding: 5px !important;
    border-radius: 5px;
  }
}

.map-marker-tooltip {
  display: none;
  &.highlighted {
    font-weight: bold;
    font-size: 18pt;
    display: block;
  }
}

main {
  flex: 1 0 auto;
  .leaflet-container {
    min-height: 200px;
    height: 100%;
    width: 100%;
  }
}
