.game-welcome, .game-summary, .game-round-gui {
  background-color: lightyellow;
  opacity: 0.8;
  padding: 5px 5px 100px;

}

.game-welcome, .game-summary, .game-round-result {

  font-size: 12pt;

  button {
    font-size: 14pt;
  }
}

.stor-skrift {
  font-size: 200%;
  font-weight: bold;
}

.game-round-gui {
  //background-color: rgba(255, 255, 255, 0.5);
  background-color: lightyellow;
  opacity: 0.8;
  padding: 5px 5px 100px;

  h1 {

  }

  max-width: 100vw;
  width: 100%;

  .answer-button-wrapper {
    display: flex;
    flex-direction: row;
    //justify-content: stretch;
    //align-content: stretch;

    column-gap: 5px;
    row-gap: 5px;
    margin: 5px 0;
    max-width: 100%;
    flex: 1 0 auto;
    flex-wrap: wrap;
    justify-content: center;

    button {
      //max-width: 40%;
      font-size: 14pt;
      display: block;
      flex: 0 1 40%;
      height: 3em;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 3px;

      &.chosen {
        outline: 2px solid yellow;
      }
      &.wrong {
        outline: 2px solid red;
        &.chosen {
          background-color: pink;
        }
      }
      &.correct {
        outline: 2px solid green;
        &.chosen {
          background-color: lightgreen;
        }
      }

    }
  }

}

 .game-round-result {
   padding: 5px;
   display: flex;
   flex-direction: column;
  &.answer-wrong {
    background-color: rgba(255, 0, 0, 0.5);
  }

  &.answer-correct {
    background-color: rgba(0, 255, 0, 0.5);
  }

   button {
     font-size: 14pt;
      //border-radius: 10px;
     justify-self: stretch;
     display: block;
   }
}
